* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #EFF2DD;
}
#header {
	width: 100%;
	height: 90px;
	margin: 0.5% ;
	border: 1px ;
	background-color: #58D3F7;

}
.header1 {
	width: 15%;
	height: 60px;
	margin: 0.5%;
	border: 2px;
	float: left;
	line-height: 60px;
	text-align: center;
	background-color: #CEF6E3;
}
.header2 {
	width: 56.6%;
	height: 60px;
	margin: 0.5%;
	border: 2px;
	float: left;
	line-height: 60px;
	text-align: center;
	background-color: #CEF6E3;
}
.header3 {
	width: 25%;
	height: 60px;
	margin: 0.5%;
	border: 2px;
	float: left;
	line-height: 60px;
	text-align: center;
	background-color: #CEF6E3;
}
#hero {
	width: 73.5%;
	height: 140px;
	margin: 0.5% ;
	border: 1px ;
	float: left;
	background-color: #58D3F7;
}
.hero1 {
	width: 63%;
	height: 100px;
	margin: 0.5%;
	border: 2px;
	float: left;
	line-height: 100px;
	text-align: center;
	background-color: #CEF6E3;
}
.hero2 {
	width: 35%;
	height: 100px;
	margin: 0.5%;
	border: 2px;
	float: left;
	line-height: 100px;
	text-align: center;
	background-color: #CEF6E3;
}
#ad {
	width: 24.5%;
	height: 140px;
	margin: 0.5%;
	border: 2px;
	float: right;
	line-height: 100px;
	text-align: center;
	background-color: #8590E4;
}
#body {
	width: 73.5%;
	height: 350px;
	margin: 0.5%;
	border: 1px;
	float: left;
	background-color: #58D3F7;	
}
.body1 {
	width: 33%;
	height: 300px;
	margin: 0.5%;
	border: 2px;
	float: left;
	line-height: 300px;
	text-align: center;
	background-color: #CEF6E3;
}
.body2 {
	width: 65%;
	height: 300px;
	margin: 0.5%;
	border: 2px;
	float: left;
	line-height: 300px;
	text-align: center;
	background-color: #CEF6E3;
}
.ad1 {
	width: 24.5%;
	height: 140px;
	margin: 0.5%;
	border: 2px;
	float: right;
	line-height: 100px;
	text-align: center;
	background-color: #8590E4;
}
#sidebar {
	width: 24.5%;
	height: 350px;
	margin: 0.5%;
	border: 1px;
	float: right;
	background-color: #58D3F7;
}
.sidebar1 {
	width: 97%;
	height: 300px;
	margin: 1.5%;
	border: 2px;
	float left;
	line-height: 300px;
	text-align: center;
	background-color: #CEF6E3;
}
#footer {
	width: 100%;
	height: 80px;
	margin: 0.5%;
	border: 2px;
	float: left;
	line-height: 80px;
	text-align: left;
	background-color: #58D3F7;
}
@media screen and (min-width: 769px) {
	.ad1 {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	#hero {
		width: 100%;
	}
	.hero1 {
		width: 98.4%;
		height: 50px;
		line-height: 50px;
	}
	.hero2 {
		width: 98.4%;
		height: 50px;
		line-height: 50px;
	}
	#body {
		width: 100%;
		height: 530px;
	}
	.body1 {
		width: 72%;
		height: 130px;
		margin: 1%;
		line-height: 120px;
	}
	.body2 {
		width: 98.4%;
		height: 350px;
		line-height: 200px;
	}
	#ad {
		display: none;
	}
	#sidebar {
		width: 100%;
		height: 100px;
		float: left;
	}
	.sidebar1 {
		width: 98.5%;
		height: 68px;
		margin: 0.5%;
		line-height: 68px;
	}
}
@media screen and (max-width: 480px) {
	#header {
		height: 80px;
	}
	.header1 {
		width: 98.4%;
		height: 25px;
		line-height: 25px;
	}
	.header2 {
		width: 65%;
		height: 25px;
		line-height: 25px;
	}
	.header3 {
		width: 32.3%;
		height: 25px;
		line-height: 25px;
	}	
	#hero {
		width: 100%;
		height: 70px;
	}	
	.hero1 {
		display: none;
	}
	.hero2 {
		width: 98.4%;
		height: 40px;
		line-height: 40px;
	}
	#body {
		width: 100%;
		height: 250px;
	}
	.body1 {
		width: 98.4%;
		height: 50px;
		margin: 1%;
		line-height: 50px;
	}
	.ad1 {
		width: 98.4%;
		height: 50px;
		margin: 1%;
		line-height: 50px;
	}
	.body2 {
		width: 98.4%;
		height: 100px;
		line-height: 100px;
	}
	#sidebar {
		display: none;
	}
}
