* {
	padding: 0;
	margin: 0;
}
.container {
	height: 650px;
	width: 70%;
	border: 1px solid black;
	margin-left: 100px ;
}
header {
	height: 300px;
}
.header1 {
	height: 40px;
}
.link {
	border-radius: 10%;
	float: left;
	height: 30px;
	width: 8%;
	margin-top:5px;
	margin-right: 2px;
	margin-left: 5px;
	text-align: left;
	line-height: 30px;
	background: #3399FF;
}
h3 {
	color: white;
	margin-left: 3px;
}
.header2 {
	border-radius: 6%;
	float: left;
	height: 250px;
	width: 99.5%;
	margin-right:0.5%;
	text-align: right;
	background: #3399FF;
}
h2 {
	color: white;
	margin-right: 15px;
	margin-top: 20px;
}
section {
	height: 300px;
}
.article {
	height: 140px;
	width: 48.6%;
	text-align: right;
	background: #3399FF;
	border-radius: 6%;
	float: left;
	margin:0.5%;
}
footer {
	height: 49px;
}
.footer {
	border-radius: 8%;
	float: left;
	height: 42px;
	width: 99%;
	margin:0.5%;
	text-align: center;
	line-height: 42px;
	background: #3399FF;

}
h4 {
	color: white;
}
@media screen and (max-width: 768px) {
	.container {
		height: 600px;
	}
	.link {
		width: 11%;
	}
	.header2 {
		width: 98%;
		margin-left: 5px;
	}
	h2 {
		margin-bottom: 30px;
		margin-right: 50px;
	}
	section {
		height: 260px;
	}
	.article {
		border-radius: 8%;
		float: left;
		height: 250px;
		width: 23.5%;
		margin: 0.5%;
		text-align: left;
		line-height: 250px;
		background: #3399FF;
	}
	.footer {
		width: 98%;
		height: 35px;
	}
}
@media screen and (max-width: 480px) {
	.link {
		width: 97%;
		text-align: center;
	}
	.header2 {
		width: 97%;
		height: 150px;
		line-height: 92px;
		margin-top: 5px;
	}
	.article {
		width: 97%;
		height: 62px;
		text-align: right;
		line-height: 22px;
		margin: 0.5%;
		margin-left: 5px;
	}
	h2 {
		margin-right: 120px;
	}
	.footer {
		width: 97%;
		margin-left:5px;
	}
}
